<a href="https://colab.research.google.com/github/sherdonesquejo/CCDEPLRL_EXERCISES_-COM211-/blob/main/SQLBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Basic SQL**

<font color="red">File access required:</font> In Colab this notebook requires first uploading files **Cities.csv**, **Countries.csv**, **Players.csv**, and **Teams.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure these files are in the same workspace as the notebook.

In [157]:
!pip install prettytable==0.7.2
!pip install ipython-sql

Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.10/dist-packages (0.7.2)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.13)

In [158]:
# Set-up
%load_ext sql
%sql sqlite://
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [159]:
# Create database tables from CSV files
with open('Cities.csv') as f: Cities = pd.read_csv(f, index_col=0)
%sql drop table if exists Cities;
%sql --persist Cities
with open('Countries.csv') as f: Countries = pd.read_csv(f, index_col=0)
%sql drop table if exists Countries;
%sql --persist Countries

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted countries'

#### Look at sample of Cities and Countries tables

In [160]:
%%sql
select * from Cities limit 5

 * sqlite://
Done.

[('Aalborg', 'Denmark', 57.03, 9.92, 7.52),
 ('Aberdeen', 'United Kingdom', 57.17, -2.08, 8.1),
 ('Abisko', 'Sweden', 63.35, 18.83, 0.2),
 ('Adana', 'Turkey', 36.99, 35.32, 18.67),
 ('Albacete', 'Spain', 39.0, -1.87, 12.62)]

In [161]:
%%sql
select * from Countries limit 5

 * sqlite://
Done.

[('Albania', 2.9, 'no', 'yes'),
 ('Andorra', 0.07, 'no', 'no'),
 ('Austria', 8.57, 'yes', 'no'),
 ('Belarus', 9.48, 'no', 'no'),
 ('Belgium', 11.37, 'yes', 'yes')]

### Basic Select statement
Select columns  
From tables  
Where condition

*Find all countries not in the EU*

In [162]:
%%sql
select country
from Countries
where EU = 'no'

 * sqlite://
Done.

[('Albania',),
 ('Andorra',),
 ('Belarus',),
 ('Bosnia and Herzegovina',),
 ('Iceland',),
 ('Kosovo',),
 ('Liechtenstein',),
 ('Macedonia',),
 ('Moldova',),
 ('Montenegro',),
 ('Norway',),
 ('Serbia',),
 ('Switzerland',),
 ('Turkey',),
 ('Ukraine',)]

*Find all cities with temperature between -5 and 5; return city, country, and temperature*

In [163]:
%%sql
select city, country, temperature
from Cities
where temperature > -5 and temperature < 5

 * sqlite://
Done.

[('Abisko', 'Sweden', 0.2),
 ('Augsburg', 'Germany', 4.54),
 ('Bergen', 'Norway', 1.75),
 ('Bodo', 'Norway', 4.5),
 ('Helsinki', 'Finland', 4.19),
 ('Innsbruck', 'Austria', 4.54),
 ('Kiruna', 'Sweden', -2.2),
 ('Orsha', 'Belarus', 4.93),
 ('Oslo', 'Norway', 2.32),
 ('Oulu', 'Finland', 1.45),
 ('Salzburg', 'Austria', 4.62),
 ('Tallinn', 'Estonia', 4.82),
 ('Tampere', 'Finland', 3.59),
 ('Tartu', 'Estonia', 4.36),
 ('Trondheim', 'Norway', 4.53),
 ('Turku', 'Finland', 4.72),
 ('Uppsala', 'Sweden', 4.17)]

### Ordering

*Modify previous query to sort by temperature*

*Modify previous query to sort by country, then temperature descending*

### <font color = 'green'>**Your Turn**</font>

*Find all countries with no coastline and with population > 9. Return the country and population, in descending order of population.*

In [164]:
%%sql
SELECT country, population
FROM countries
WHERE coastline = 'no' AND population > 9
ORDER BY population DESC;

 * sqlite://
Done.

[('Czech Republic', 10.55), ('Hungary', 9.82), ('Belarus', 9.48)]

### Multiple tables in From clause - Joins

*Find all cities with longitude < 10 not in the EU, return city and longitude*

In [165]:
%%sql
SELECT city, longitude
FROM cities
WHERE longitude < 10 AND country NOT IN (
    SELECT country
    FROM countries
    WHERE EU = 'yes'
);

 * sqlite://
Done.

[('Andorra', 1.52),
 ('Basel', 7.59),
 ('Bergen', 5.32),
 ('Geneva', 6.14),
 ('Stavanger', 5.68),
 ('Zurich', 8.56)]

In [166]:
%%sql
select city, longitude, Countries.country
from Cities, Countries
where Cities.country = Countries.country
and longitude < 10 and EU = 'no'

 * sqlite://
Done.

[('Andorra', 1.52, 'Andorra'),
 ('Basel', 7.59, 'Switzerland'),
 ('Bergen', 5.32, 'Norway'),
 ('Geneva', 6.14, 'Switzerland'),
 ('Stavanger', 5.68, 'Norway'),
 ('Zurich', 8.56, 'Switzerland')]

*Modify previous query to also return country (error then fix)*

*Find all cities with latitude < 50 in a country with population < 5; return city, country, and population, sorted by country*

In [167]:
%%sql
select city, Cities.country, population
from Cities, Countries
where Cities.country = Countries.country
and latitude < 50 and population < 5
order by Cities.country

 * sqlite://
Done.

[('Elbasan', 'Albania', 2.9),
 ('Andorra', 'Andorra', 0.07),
 ('Sarajevo', 'Bosnia and Herzegovina', 3.8),
 ('Rijeka', 'Croatia', 4.23),
 ('Split', 'Croatia', 4.23),
 ('Skopje', 'Macedonia', 2.08),
 ('Balti', 'Moldova', 4.06),
 ('Chisinau', 'Moldova', 4.06),
 ('Podgorica', 'Montenegro', 0.63),
 ('Ljubljana', 'Slovenia', 2.07)]

#### Inner Join -- just FYI

*Same query as above*

In [168]:
%%sql
select city, Cities.country, population
from Cities inner join Countries
     on Cities.country = Countries.country
where latitude < 50 and population < 5
order by Cities.country

 * sqlite://
Done.

[('Elbasan', 'Albania', 2.9),
 ('Andorra', 'Andorra', 0.07),
 ('Sarajevo', 'Bosnia and Herzegovina', 3.8),
 ('Rijeka', 'Croatia', 4.23),
 ('Split', 'Croatia', 4.23),
 ('Skopje', 'Macedonia', 2.08),
 ('Balti', 'Moldova', 4.06),
 ('Chisinau', 'Moldova', 4.06),
 ('Podgorica', 'Montenegro', 0.63),
 ('Ljubljana', 'Slovenia', 2.07)]

### Select *

*Modify previous queries to return all columns*

In [169]:
%%sql
SELECT Cities.*, Countries.*
FROM Cities, Countries
WHERE Cities.country = Countries.country
AND latitude < 50 AND population < 5
ORDER BY Cities.country;

 * sqlite://
Done.

[('Elbasan', 'Albania', 41.12, 20.08, 15.18, 'Albania', 2.9, 'no', 'yes'),
 ('Andorra', 'Andorra', 42.5, 1.52, 9.6, 'Andorra', 0.07, 'no', 'no'),
 ('Sarajevo', 'Bosnia and Herzegovina', 43.85, 13.38, 9.6, 'Bosnia and Herzegovina', 3.8, 'no', 'yes'),
 ('Rijeka', 'Croatia', 45.33, 14.45, 9.27, 'Croatia', 4.23, 'yes', 'yes'),
 ('Split', 'Croatia', 43.52, 16.47, 12.46, 'Croatia', 4.23, 'yes', 'yes'),
 ('Skopje', 'Macedonia', 42.0, 21.43, 9.36, 'Macedonia', 2.08, 'no', 'no'),
 ('Balti', 'Moldova', 47.76, 27.91, 8.23, 'Moldova', 4.06, 'no', 'no'),
 ('Chisinau', 'Moldova', 47.01, 28.86, 8.6, 'Moldova', 4.06, 'no', 'no'),
 ('Podgorica', 'Montenegro', 42.47, 19.27, 9.99, 'Montenegro', 0.63, 'no', 'yes'),
 ('Ljubljana', 'Slovenia', 46.06, 14.51, 9.27, 'Slovenia', 2.07, 'yes', 'yes')]

### <font color = 'green'>**Your Turn**</font>

*Find all cities with latitude > 45 in a country with no coastline and with population > 9. Return the city, country, latitude, and whether it's in the EU.*

In [170]:
%%sql
SELECT Cities.city, Cities.country, Cities.latitude, Countries.EU
FROM Cities
JOIN Countries ON Cities.country = Countries.country
WHERE Cities.latitude > 45
AND Countries.coastline = 'no'
AND Countries.population > 9
ORDER BY Cities.country;

 * sqlite://
Done.

[('Brest', 'Belarus', 52.1, 'no'),
 ('Hrodna', 'Belarus', 53.68, 'no'),
 ('Mazyr', 'Belarus', 52.05, 'no'),
 ('Minsk', 'Belarus', 53.9, 'no'),
 ('Orsha', 'Belarus', 54.52, 'no'),
 ('Pinsk', 'Belarus', 52.13, 'no'),
 ('Brno', 'Czech Republic', 49.2, 'yes'),
 ('Ostrava', 'Czech Republic', 49.83, 'yes'),
 ('Prague', 'Czech Republic', 50.08, 'yes'),
 ('Budapest', 'Hungary', 47.5, 'yes'),
 ('Debrecen', 'Hungary', 47.53, 'yes'),
 ('Gyor', 'Hungary', 47.7, 'yes'),
 ('Szeged', 'Hungary', 46.25, 'yes')]

### Aggregation and Grouping

*Find the average temperature for all cities*

In [171]:
%%sql
select avg(temperature)
from Cities

 * sqlite://
Done.

[(9.497840375586858,)]

*Modify previous query to find average temperature of cities with latitude > 55*

In [172]:
%%sql
SELECT AVG(temperature)
FROM Cities
WHERE latitude > 55;

 * sqlite://
Done.

[(4.985185185185185,)]

*Modify previous query to also find minimum and maxiumum temperature of cities with latitude > 55*

In [173]:
%%sql
SELECT
    AVG(temperature) AS average_temperature,
    MIN(temperature) AS minimum_temperature,
    MAX(temperature) AS maximum_temperature
FROM Cities
WHERE latitude > 55;

 * sqlite://
Done.

[(4.985185185185185, -2.2, 8.6)]

*Modify previous query to return number of cities with latitude > 55*

In [174]:
%%sql
SELECT
    COUNT(*) AS number_of_cities
FROM
    Cities
WHERE
    latitude > 55;

 * sqlite://
Done.

[(27,)]

*Rename result column as northerns*

In [175]:
%%sql
SELECT
    COUNT(*) AS northerns
FROM
    Cities
WHERE
    latitude > 55;

 * sqlite://
Done.

[(27,)]

*Find the minimum and maximum temperature of cities in the EU (then not in the EU)*

In [176]:
%%sql
SELECT
    CASE
        WHEN EU = 'yes' THEN 'In EU'
        ELSE 'Not in EU'
    END AS EU_Status,
    MIN(temperature) AS minimum_temperature,
    MAX(temperature) AS maximum_temperature
FROM
    Cities, Countries
WHERE
    Cities.country = Countries.Country
GROUP BY
    EU_Status;

 * sqlite://
Done.

[('In EU', -2.2, 17.9), ('Not in EU', 1.75, 18.67)]

In [177]:
#%%sql
#select min(temperature), max(temperature)
#from Cities, Countries
#where Cities.country = Countries.Country
#and EU = 'yes'

### <font color = 'green'>**Your Turn**</font>

*Find the number of cities with latitude > 45 in countries with no coastline and with population > 9; also return the minimum and maximum latitude among those cities*

In [178]:
%%sql
SELECT
    COUNT(Cities.city) AS number_of_cities,
    MIN(Cities.latitude) AS minimum_latitude,
    MAX(Cities.latitude) AS maximum_latitude
FROM
    Cities
JOIN
    Countries
ON
    Cities.country = Countries.country
WHERE
    Cities.latitude > 45
    AND Countries.coastline = 'no'
    AND Countries.population > 9;

 * sqlite://
Done.

[(13, 46.25, 54.52)]

*Find the average temperature for each country*

In [179]:
%%sql
select country, avg(temperature)
from Cities
group by country

 * sqlite://
Done.

[('Albania', 15.18),
 ('Andorra', 9.6),
 ('Austria', 6.144),
 ('Belarus', 5.946666666666666),
 ('Belgium', 9.65),
 ('Bosnia and Herzegovina', 9.6),
 ('Bulgaria', 10.44),
 ('Croatia', 10.865),
 ('Czech Republic', 7.8566666666666665),
 ('Denmark', 7.625),
 ('Estonia', 4.59),
 ('Finland', 3.4875),
 ('France', 10.151111111111112),
 ('Germany', 7.869285714285714),
 ('Greece', 16.9025),
 ('Hungary', 9.6025),
 ('Ireland', 9.299999999999999),
 ('Italy', 13.474666666666668),
 ('Latvia', 5.27),
 ('Lithuania', 6.1433333333333335),
 ('Macedonia', 9.36),
 ('Moldova', 8.415),
 ('Montenegro', 9.99),
 ('Netherlands', 8.756666666666668),
 ('Norway', 3.7260000000000004),
 ('Poland', 7.250000000000002),
 ('Portugal', 14.469999999999999),
 ('Romania', 9.224444444444444),
 ('Serbia', 9.85),
 ('Slovakia', 8.48),
 ('Slovenia', 9.27),
 ('Spain', 14.238333333333332),
 ('Sweden', 3.5866666666666673),
 ('Switzerland', 7.253333333333333),
 ('Turkey', 11.726666666666665),
 ('Ukraine', 7.420000000000002),
 ('United Kingdom', 8.649999999999999)]

*Modify previous query to sort by descending average temperature*

In [180]:
%%sql
SELECT
    country,
    AVG(temperature) AS average_temperature
FROM
    Cities
GROUP BY
    country
ORDER BY
    average_temperature DESC;

 * sqlite://
Done.

[('Greece', 16.9025),
 ('Albania', 15.18),
 ('Portugal', 14.469999999999999),
 ('Spain', 14.238333333333332),
 ('Italy', 13.474666666666668),
 ('Turkey', 11.726666666666665),
 ('Croatia', 10.865),
 ('Bulgaria', 10.44),
 ('France', 10.151111111111112),
 ('Montenegro', 9.99),
 ('Serbia', 9.85),
 ('Belgium', 9.65),
 ('Hungary', 9.6025),
 ('Bosnia and Herzegovina', 9.6),
 ('Andorra', 9.6),
 ('Macedonia', 9.36),
 ('Ireland', 9.299999999999999),
 ('Slovenia', 9.27),
 ('Romania', 9.224444444444444),
 ('Netherlands', 8.756666666666668),
 ('United Kingdom', 8.649999999999999),
 ('Slovakia', 8.48),
 ('Moldova', 8.415),
 ('Germany', 7.869285714285714),
 ('Czech Republic', 7.8566666666666665),
 ('Denmark', 7.625),
 ('Ukraine', 7.420000000000002),
 ('Switzerland', 7.253333333333333),
 ('Poland', 7.250000000000002),
 ('Austria', 6.144),
 ('Lithuania', 6.1433333333333335),
 ('Belarus', 5.946666666666666),
 ('Latvia', 5.27),
 ('Estonia', 4.59),
 ('Norway', 3.7260000000000004),
 ('Sweden', 3.5866666666666673),
 ('Finland', 3.4875)]

*Modify previous query to show countries only*

In [181]:
%%sql
SELECT
    country
FROM
    Cities
GROUP BY
    country
ORDER BY
    country;

 * sqlite://
Done.

[('Albania',),
 ('Andorra',),
 ('Austria',),
 ('Belarus',),
 ('Belgium',),
 ('Bosnia and Herzegovina',),
 ('Bulgaria',),
 ('Croatia',),
 ('Czech Republic',),
 ('Denmark',),
 ('Estonia',),
 ('Finland',),
 ('France',),
 ('Germany',),
 ('Greece',),
 ('Hungary',),
 ('Ireland',),
 ('Italy',),
 ('Latvia',),
 ('Lithuania',),
 ('Macedonia',),
 ('Moldova',),
 ('Montenegro',),
 ('Netherlands',),
 ('Norway',),
 ('Poland',),
 ('Portugal',),
 ('Romania',),
 ('Serbia',),
 ('Slovakia',),
 ('Slovenia',),
 ('Spain',),
 ('Sweden',),
 ('Switzerland',),
 ('Turkey',),
 ('Ukraine',),
 ('United Kingdom',)]

*Find the average temperature for cities in countries with and without coastline*

In [182]:
%%sql
select coastline, avg(temperature)
from Cities, Countries
where Cities.country = Countries.country
group by coastline

 * sqlite://
Done.

[('no', 7.748000000000001), ('yes', 9.784699453551914)]

*Modify previous query to find the average temperature for cities in the EU and not in the EU, then all combinations of coastline and EU*

In [183]:
%%sql
SELECT
    Countries.coastline,
    Countries.eu,
    AVG(Cities.temperature) AS average_temperature
FROM
    Cities
JOIN
    Countries ON Cities.country = Countries.country
GROUP BY
    Countries.coastline, Countries.eu;

 * sqlite://
Done.

[('no', 'no', 7.67375),
 ('no', 'yes', 7.832857142857144),
 ('yes', 'no', 9.492340425531914),
 ('yes', 'yes', 9.885735294117652)]

*Modify previous query to only include cities with latitude < 50, then latitude < 40*

In [184]:
%%sql
SELECT
    Cities.city,
    Cities.latitude,
    Cities.temperature,
    Countries.coastline,
    Countries.eu,
    CASE
        WHEN Cities.latitude < 40 THEN 'Latitude < 40'
        WHEN Cities.latitude < 50 THEN 'Latitude < 50'
        ELSE 'Other'
    END AS latitude_condition
FROM
    Cities
JOIN
    Countries ON Cities.country = Countries.country
WHERE
    Cities.latitude < 50  -- Filter cities with latitude less than 50
ORDER BY
    Cities.latitude;

 * sqlite://
Done.

[('Algeciras', 36.13, 17.38, 'yes', 'yes', 'Latitude < 40'),
 ('Marbella', 36.52, 17.19, 'yes', 'yes', 'Latitude < 40'),
 ('Antalya', 36.89, 11.88, 'yes', 'no', 'Latitude < 40'),
 ('Tarsus', 36.92, 11.21, 'yes', 'no', 'Latitude < 40'),
 ('Adana', 36.99, 18.67, 'yes', 'no', 'Latitude < 40'),
 ('Kalamata', 37.04, 17.3, 'yes', 'yes', 'Latitude < 40'),
 ('Gaziantep', 37.07, 13.46, 'yes', 'no', 'Latitude < 40'),
 ('Granada', 37.16, 16.33, 'yes', 'yes', 'Latitude < 40'),
 ('Karaman', 37.18, 10.41, 'yes', 'no', 'Latitude < 40'),
 ('Huelva', 37.25, 17.09, 'yes', 'yes', 'Latitude < 40'),
 ('Catania', 37.5, 15.04, 'yes', 'yes', 'Latitude < 40'),
 ('Cartagena', 37.6, 17.32, 'yes', 'yes', 'Latitude < 40'),
 ('Denizli', 37.77, 15.02, 'yes', 'no', 'Latitude < 40'),
 ('Batman', 37.89, 14.16, 'yes', 'no', 'Latitude < 40'),
 ('Siirt', 37.94, 12.48, 'yes', 'no', 'Latitude < 40'),
 ('Athens', 37.98, 17.41, 'yes', 'yes', 'Latitude < 40'),
 ('Murcia', 37.98, 15.0, 'yes', 'yes', 'Latitude < 40'),
 ('Palermo', 38.13, 17.9, 'yes', 'yes', 'Latitude < 40'),
 ('Messina', 38.2, 16.54, 'yes', 'yes', 'Latitude < 40'),
 ('Patras', 38.23, 16.9, 'yes', 'yes', 'Latitude < 40'),
 ('Malatya', 38.37, 14.13, 'yes', 'no', 'Latitude < 40'),
 ('Manisa', 38.63, 15.1, 'yes', 'no', 'Latitude < 40'),
 ('Lisbon', 38.72, 15.52, 'yes', 'yes', 'Latitude < 40'),
 ('Kayseri', 38.73, 8.89, 'yes', 'no', 'Latitude < 40'),
 ('Badajoz', 38.88, 15.61, 'yes', 'yes', 'Latitude < 40'),
 ('Albacete', 39.0, 12.62, 'yes', 'yes', 'Latitude < 40'),
 ('Cosenza', 39.27, 16.6, 'yes', 'yes', 'Latitude < 40'),
 ('Valencia', 39.49, 16.02, 'yes', 'yes', 'Latitude < 40'),
 ('Trikala', 39.56, 16.0, 'yes', 'yes', 'Latitude < 40'),
 ('Erzincan', 39.75, 8.67, 'yes', 'no', 'Latitude < 40'),
 ('Sivas', 39.75, 8.05, 'yes', 'no', 'Latitude < 40'),
 ('Eskisehir', 39.79, 11.11, 'yes', 'no', 'Latitude < 40'),
 ('Erzurum', 39.92, 5.17, 'yes', 'no', 'Latitude < 40'),
 ('Ankara', 39.93, 9.86, 'yes', 'no', 'Latitude < 40'),
 ('Bursa', 40.2, 11.16, 'yes', 'no', 'Latitude < 50'),
 ('Madrid', 40.4, 11.19, 'yes', 'yes', 'Latitude < 50'),
 ('Salamanca', 40.97, 11.63, 'yes', 'yes', 'Latitude < 50'),
 ('Trabzon', 40.98, 10.28, 'yes', 'no', 'Latitude < 50'),
 ('Tekirdag', 40.99, 13.02, 'yes', 'no', 'Latitude < 50'),
 ('Ordu', 41.0, 11.92, 'yes', 'no', 'Latitude < 50'),
 ('Istanbul', 41.1, 13.2, 'yes', 'no', 'Latitude < 50'),
 ('Bari', 41.11, 15.15, 'yes', 'yes', 'Latitude < 50'),
 ('Elbasan', 41.12, 15.18, 'yes', 'no', 'Latitude < 50'),
 ('Samsun', 41.28, 12.05, 'yes', 'no', 'Latitude < 50'),
 ('Barcelona', 41.38, 15.78, 'yes', 'yes', 'Latitude < 50'),
 ('Zonguldak', 41.43, 10.64, 'yes', 'no', 'Latitude < 50'),
 ('Foggia', 41.46, 13.83, 'yes', 'yes', 'Latitude < 50'),
 ('Braga', 41.55, 13.42, 'yes', 'yes', 'Latitude < 50'),
 ('Zaragoza', 41.65, 14.17, 'yes', 'yes', 'Latitude < 50'),
 ('Edirne', 41.67, 10.9, 'yes', 'no', 'Latitude < 50'),
 ('Rome', 41.9, 15.1, 'yes', 'yes', 'Latitude < 50'),
 ('Skopje', 42.0, 9.36, 'no', 'no', 'Latitude < 50'),
 ('Plovdiv', 42.15, 8.27, 'yes', 'yes', 'Latitude < 50'),
 ('Vigo', 42.22, 12.85, 'yes', 'yes', 'Latitude < 50'),
 ('Burgos', 42.35, 10.45, 'yes', 'yes', 'Latitude < 50'),
 ('Stara Zagora', 42.42, 10.9, 'yes', 'yes', 'Latitude < 50'),
 ('Pescara', 42.46, 15.13, 'yes', 'yes', 'Latitude < 50'),
 ('Podgorica', 42.47, 9.99, 'yes', 'no', 'Latitude < 50'),
 ('Andorra', 42.5, 9.6, 'no', 'no', 'Latitude < 50'),
 ('Burgas', 42.51, 11.93, 'yes', 'yes', 'Latitude < 50'),
 ('Perpignan', 42.7, 10.95, 'yes', 'yes', 'Latitude < 50'),
 ('Perugia', 43.11, 11.7, 'yes', 'yes', 'Latitude < 50'),
 ('Bilbao', 43.25, 11.41, 'yes', 'yes', 'Latitude < 50'),
 ('Marseille', 43.29, 14.98, 'yes', 'yes', 'Latitude < 50'),
 ('Nis', 43.33, 9.36, 'no', 'no', 'Latitude < 50'),
 ('Oviedo', 43.35, 10.85, 'yes', 'yes', 'Latitude < 50'),
 ('Santander', 43.38, 13.4, 'yes', 'yes', 'Latitude < 50'),
 ('Pleven', 43.42, 10.51, 'yes', 'yes', 'Latitude < 50'),
 ('Split', 43.52, 12.46, 'yes', 'yes', 'Latitude < 50'),
 ('Ancona', 43.6, 13.52, 'yes', 'yes', 'Latitude < 50'),
 ('Montpellier', 43.61, 11.11, 'yes', 'yes', 'Latitude < 50'),
 ('Toulouse', 43.62, 10.25, 'yes', 'yes', 'Latitude < 50'),
 ('Nice', 43.72, 8.82, 'yes', 'yes', 'Latitude < 50'),
 ('Ruse', 43.85, 10.59, 'yes', 'yes', 'Latitude < 50'),
 ('Sarajevo', 43.85, 9.6, 'yes', 'no', 'Latitude < 50'),
 ('Constanta', 44.2, 11.24, 'yes', 'yes', 'Latitude < 50'),
 ('Craiova', 44.33, 10.51, 'yes', 'yes', 'Latitude < 50'),
 ('Genoa', 44.41, 12.94, 'yes', 'yes', 'Latitude < 50'),
 ('Bucharest', 44.43, 10.59, 'yes', 'yes', 'Latitude < 50'),
 ('Bologna', 44.5, 11.69, 'yes', 'yes', 'Latitude < 50'),
 ('Belgrade', 44.82, 9.85, 'no', 'no', 'Latitude < 50'),
 ('Bordeaux', 44.85, 11.87, 'yes', 'yes', 'Latitude < 50'),
 ('Grenoble', 45.18, 8.4, 'yes', 'yes', 'Latitude < 50'),
 ('Yevpatoriya', 45.2, 10.02, 'yes', 'no', 'Latitude < 50'),
 ('Novi Sad', 45.25, 10.34, 'no', 'no', 'Latitude < 50'),
 ('Braila', 45.29, 9.78, 'yes', 'yes', 'Latitude < 50'),
 ('Rijeka', 45.33, 9.27, 'yes', 'yes', 'Latitude < 50'),
 ('Milan', 45.47, 6.65, 'yes', 'yes', 'Latitude < 50'),
 ('Trieste', 45.65, 11.21, 'yes', 'yes', 'Latitude < 50'),
 ('Bergamo', 45.7, 9.12, 'yes', 'yes', 'Latitude < 50'),
 ('Sibiu', 45.8, 6.97, 'yes', 'yes', 'Latitude < 50'),
 ('Limoges', 45.83, 10.32, 'yes', 'yes', 'Latitude < 50'),
 ('Ljubljana', 46.06, 9.27, 'yes', 'yes', 'Latitude < 50'),
 ('Arad', 46.17, 9.32, 'yes', 'yes', 'Latitude < 50'),
 ('Geneva', 46.21, 8.4, 'no', 'no', 'Latitude < 50'),
 ('Szeged', 46.25, 10.34, 'no', 'yes', 'Latitude < 50'),
 ('Bacau', 46.58, 7.51, 'yes', 'yes', 'Latitude < 50'),
 ('Kherson', 46.63, 8.64, 'yes', 'no', 'Latitude < 50'),
 ('Chisinau', 47.01, 8.6, 'no', 'no', 'Latitude < 50'),
 ('Graz', 47.08, 6.91, 'no', 'yes', 'Latitude < 50'),
 ('Innsbruck', 47.28, 4.54, 'no', 'yes', 'Latitude < 50'),
 ('Dijon', 47.33, 8.69, 'yes', 'yes', 'Latitude < 50'),
 ('Zurich', 47.38, 6.68, 'no', 'no', 'Latitude < 50'),
 ('Angers', 47.48, 10.98, 'yes', 'yes', 'Latitude < 50'),
 ('Budapest', 47.5, 9.55, 'no', 'yes', 'Latitude < 50'),
 ('Debrecen', 47.53, 8.87, 'no', 'yes', 'Latitude < 50'),
 ('Basel', 47.58, 6.68, 'no', 'no', 'Latitude < 50'),
 ('Baia Mare', 47.66, 8.87, 'yes', 'yes', 'Latitude < 50'),
 ('Gyor', 47.7, 9.65, 'no', 'yes', 'Latitude < 50'),
 ('Botosani', 47.75, 8.23, 'yes', 'yes', 'Latitude < 50'),
 ('Mulhouse', 47.75, 6.68, 'yes', 'yes', 'Latitude < 50'),
 ('Balti', 47.76, 8.23, 'no', 'no', 'Latitude < 50'),
 ('Salzburg', 47.81, 4.62, 'no', 'yes', 'Latitude < 50'),
 ('Kryvyy Rih', 47.93, 8.61, 'yes', 'no', 'Latitude < 50'),
 ('Freiburg', 48.0, 6.68, 'yes', 'yes', 'Latitude < 50'),
 ('Le Mans', 48.0, 10.59, 'yes', 'yes', 'Latitude < 50'),
 ('Makiyivka', 48.03, 8.7, 'yes', 'no', 'Latitude < 50'),
 ('Bratislava', 48.15, 9.65, 'no', 'yes', 'Latitude < 50'),
 ('Vienna', 48.2, 7.86, 'no', 'yes', 'Latitude < 50'),
 ('Horlivka', 48.3, 7.12, 'yes', 'no', 'Latitude < 50'),
 ('Chernivtsi', 48.31, 7.06, 'yes', 'no', 'Latitude < 50'),
 ('Linz', 48.32, 6.79, 'no', 'yes', 'Latitude < 50'),
 ('Augsburg', 48.35, 4.54, 'yes', 'yes', 'Latitude < 50'),
 ('Brest', 48.39, 11.02, 'yes', 'yes', 'Latitude < 50'),
 ('Kosice', 48.73, 7.31, 'no', 'yes', 'Latitude < 50'),
 ('Ingolstadt', 48.77, 7.57, 'yes', 'yes', 'Latitude < 50'),
 ('Karlsruhe', 49.0, 8.88, 'yes', 'yes', 'Latitude < 50'),
 ('Kremenchuk', 49.08, 7.43, 'yes', 'no', 'Latitude < 50'),
 ('Metz', 49.12, 8.88, 'yes', 'yes', 'Latitude < 50'),
 ('Caen', 49.18, 9.96, 'yes', 'yes', 'Latitude < 50'),
 ('Brno', 49.2, 7.86, 'no', 'yes', 'Latitude < 50'),
 ('Reims', 49.25, 9.4, 'yes', 'yes', 'Latitude < 50'),
 ('Heidelberg', 49.42, 8.47, 'yes', 'yes', 'Latitude < 50'),
 ('Cherkasy', 49.43, 7.19, 'yes', 'no', 'Latitude < 50'),
 ('Bila Tserkva', 49.77, 6.98, 'yes', 'no', 'Latitude < 50'),
 ('Lvov', 49.83, 7.04, 'yes', 'no', 'Latitude < 50'),
 ('Ostrava', 49.83, 7.66, 'no', 'yes', 'Latitude < 50'),
 ('Amiens', 49.9, 10.17, 'yes', 'yes', 'Latitude < 50')]

### <font color = 'green'>**Your Turn**</font>

*For each country in the EU, find the latitude of the northernmost city in the country, i.e., the maximum latitude. Return the country and its maximum latitude, in descending order of maximum latitude.*

In [185]:
%%sql
SELECT
    Countries.country,
    MAX(Cities.latitude) AS max_latitude
FROM
    Cities
JOIN
    Countries ON Cities.country = Countries.country
WHERE
    Countries.eu = 'yes'
GROUP BY
    Countries.country
ORDER BY
    max_latitude DESC;

 * sqlite://
Done.

[('Sweden', 67.85),
 ('Finland', 65.0),
 ('Estonia', 59.43),
 ('United Kingdom', 57.47),
 ('Denmark', 57.03),
 ('Latvia', 56.95),
 ('Lithuania', 55.72),
 ('Poland', 54.2),
 ('Germany', 54.07),
 ('Ireland', 53.33),
 ('Netherlands', 53.22),
 ('Belgium', 51.22),
 ('France', 50.65),
 ('Czech Republic', 50.08),
 ('Slovakia', 48.73),
 ('Austria', 48.32),
 ('Romania', 47.75),
 ('Hungary', 47.7),
 ('Slovenia', 46.06),
 ('Italy', 45.7),
 ('Croatia', 45.33),
 ('Bulgaria', 43.85),
 ('Spain', 43.38),
 ('Portugal', 41.55),
 ('Greece', 39.56)]

#### A Bug in SQLite - just FYI

In [186]:
%%sql
select country, avg(temperature)
from Cities
group by country

 * sqlite://
Done.

[('Albania', 15.18),
 ('Andorra', 9.6),
 ('Austria', 6.144),
 ('Belarus', 5.946666666666666),
 ('Belgium', 9.65),
 ('Bosnia and Herzegovina', 9.6),
 ('Bulgaria', 10.44),
 ('Croatia', 10.865),
 ('Czech Republic', 7.8566666666666665),
 ('Denmark', 7.625),
 ('Estonia', 4.59),
 ('Finland', 3.4875),
 ('France', 10.151111111111112),
 ('Germany', 7.869285714285714),
 ('Greece', 16.9025),
 ('Hungary', 9.6025),
 ('Ireland', 9.299999999999999),
 ('Italy', 13.474666666666668),
 ('Latvia', 5.27),
 ('Lithuania', 6.1433333333333335),
 ('Macedonia', 9.36),
 ('Moldova', 8.415),
 ('Montenegro', 9.99),
 ('Netherlands', 8.756666666666668),
 ('Norway', 3.7260000000000004),
 ('Poland', 7.250000000000002),
 ('Portugal', 14.469999999999999),
 ('Romania', 9.224444444444444),
 ('Serbia', 9.85),
 ('Slovakia', 8.48),
 ('Slovenia', 9.27),
 ('Spain', 14.238333333333332),
 ('Sweden', 3.5866666666666673),
 ('Switzerland', 7.253333333333333),
 ('Turkey', 11.726666666666665),
 ('Ukraine', 7.420000000000002),
 ('United Kingdom', 8.649999999999999)]

*Modify previous query - add city to Select clause*

In [187]:
%%sql
SELECT country, city, AVG(temperature)
FROM Cities
GROUP BY country, city;

 * sqlite://
Done.

[('Albania', 'Elbasan', 15.18),
 ('Andorra', 'Andorra', 9.6),
 ('Austria', 'Graz', 6.91),
 ('Austria', 'Innsbruck', 4.54),
 ('Austria', 'Linz', 6.79),
 ('Austria', 'Salzburg', 4.62),
 ('Austria', 'Vienna', 7.86),
 ('Belarus', 'Brest', 6.73),
 ('Belarus', 'Hrodna', 6.07),
 ('Belarus', 'Mazyr', 6.25),
 ('Belarus', 'Minsk', 5.28),
 ('Belarus', 'Orsha', 4.93),
 ('Belarus', 'Pinsk', 6.42),
 ('Belgium', 'Brugge', 9.65),
 ('Bosnia and Herzegovina', 'Sarajevo', 9.6),
 ('Bulgaria', 'Burgas', 11.93),
 ('Bulgaria', 'Pleven', 10.51),
 ('Bulgaria', 'Plovdiv', 8.27),
 ('Bulgaria', 'Ruse', 10.59),
 ('Bulgaria', 'Stara Zagora', 10.9),
 ('Croatia', 'Rijeka', 9.27),
 ('Croatia', 'Split', 12.46),
 ('Czech Republic', 'Brno', 7.86),
 ('Czech Republic', 'Ostrava', 7.66),
 ('Czech Republic', 'Prague', 8.05),
 ('Denmark', 'Aalborg', 7.52),
 ('Denmark', 'Odense', 7.73),
 ('Estonia', 'Tallinn', 4.82),
 ('Estonia', 'Tartu', 4.36),
 ('Finland', 'Helsinki', 4.19),
 ('Finland', 'Oulu', 1.45),
 ('Finland', 'Tampere', 3.59),
 ('Finland', 'Turku', 4.72),
 ('France', 'Amiens', 10.17),
 ('France', 'Angers', 10.98),
 ('France', 'Bordeaux', 11.87),
 ('France', 'Brest', 11.02),
 ('France', 'Caen', 9.96),
 ('France', 'Dijon', 8.69),
 ('France', 'Grenoble', 8.4),
 ('France', 'Le Mans', 10.59),
 ('France', 'Lille', 9.65),
 ('France', 'Limoges', 10.32),
 ('France', 'Marseille', 14.98),
 ('France', 'Metz', 8.88),
 ('France', 'Montpellier', 11.11),
 ('France', 'Mulhouse', 6.68),
 ('France', 'Nice', 8.82),
 ('France', 'Perpignan', 10.95),
 ('France', 'Reims', 9.4),
 ('France', 'Toulouse', 10.25),
 ('Germany', 'Augsburg', 4.54),
 ('Germany', 'Berlin', 8.72),
 ('Germany', 'Bielefeld', 8.78),
 ('Germany', 'Bonn', 8.63),
 ('Germany', 'Bremen', 8.14),
 ('Germany', 'Chemnitz', 8.05),
 ('Germany', 'Erfurt', 7.4),
 ('Germany', 'Frankfurt', 7.98),
 ('Germany', 'Freiburg', 6.68),
 ('Germany', 'Heidelberg', 8.47),
 ('Germany', 'Ingolstadt', 7.57),
 ('Germany', 'Karlsruhe', 8.88),
 ('Germany', 'Magdeburg', 8.26),
 ('Germany', 'Rostock', 8.07),
 ('Greece', 'Athens', 17.41),
 ('Greece', 'Kalamata', 17.3),
 ('Greece', 'Patras', 16.9),
 ('Greece', 'Trikala', 16.0),
 ('Hungary', 'Budapest', 9.55),
 ('Hungary', 'Debrecen', 8.87),
 ('Hungary', 'Gyor', 9.65),
 ('Hungary', 'Szeged', 10.34),
 ('Ireland', 'Cork', 9.41),
 ('Ireland', 'Dublin', 8.49),
 ('Ireland', 'Galway', 10.0),
 ('Italy', 'Ancona', 13.52),
 ('Italy', 'Bari', 15.15),
 ('Italy', 'Bergamo', 9.12),
 ('Italy', 'Bologna', 11.69),
 ('Italy', 'Catania', 15.04),
 ('Italy', 'Cosenza', 16.6),
 ('Italy', 'Foggia', 13.83),
 ('Italy', 'Genoa', 12.94),
 ('Italy', 'Messina', 16.54),
 ('Italy', 'Milan', 6.65),
 ('Italy', 'Palermo', 17.9),
 ('Italy', 'Perugia', 11.7),
 ('Italy', 'Pescara', 15.13),
 ('Italy', 'Rome', 15.1),
 ('Italy', 'Trieste', 11.21),
 ('Latvia', 'Daugavpils', 5.38),
 ('Latvia', 'Riga', 5.16),
 ('Lithuania', 'Kaunas', 6.05),
 ('Lithuania', 'Klaipeda', 7.0),
 ('Lithuania', 'Vilnius', 5.38),
 ('Macedonia', 'Skopje', 9.36),
 ('Moldova', 'Balti', 8.23),
 ('Moldova', 'Chisinau', 8.6),
 ('Montenegro', 'Podgorica', 9.99),
 ('Netherlands', 'Amsterdam', 8.93),
 ('Netherlands', 'Groningen', 8.71),
 ('Netherlands', 'Maastricht', 8.63),
 ('Norway', 'Bergen', 1.75),
 ('Norway', 'Bodo', 4.5),
 ('Norway', 'Oslo', 2.32),
 ('Norway', 'Stavanger', 5.53),
 ('Norway', 'Trondheim', 4.53),
 ('Poland', 'Bialystok', 6.07),
 ('Poland', 'Bydgoszcz', 7.14),
 ('Poland', 'Bytom', 7.66),
 ('Poland', 'Elblag', 6.68),
 ('Poland', 'Kielce', 7.29),
 ('Poland', 'Koszalin', 7.73),
 ('Poland', 'Poznan', 8.31),
 ('Poland', 'Warsaw', 7.2),
 ('Poland', 'Wroclaw', 7.17),
 ('Portugal', 'Braga', 13.42),
 ('Portugal', 'Lisbon', 15.52),
 ('Romania', 'Arad', 9.32),
 ('Romania', 'Bacau', 7.51),
 ('Romania', 'Baia Mare', 8.87),
 ('Romania', 'Botosani', 8.23),
 ('Romania', 'Braila', 9.78),
 ('Romania', 'Bucharest', 10.59),
 ('Romania', 'Constanta', 11.24),
 ('Romania', 'Craiova', 10.51),
 ('Romania', 'Sibiu', 6.97),
 ('Serbia', 'Belgrade', 9.85),
 ('Serbia', 'Nis', 9.36),
 ('Serbia', 'Novi Sad', 10.34),
 ('Slovakia', 'Bratislava', 9.65),
 ('Slovakia', 'Kosice', 7.31),
 ('Slovenia', 'Ljubljana', 9.27),
 ('Spain', 'Albacete', 12.62),
 ('Spain', 'Algeciras', 17.38),
 ('Spain', 'Badajoz', 15.61),
 ('Spain', 'Barcelona', 15.78),
 ('Spain', 'Bilbao', 11.41),
 ('Spain', 'Burgos', 10.45),
 ('Spain', 'Cartagena', 17.32),
 ('Spain', 'Granada', 16.33),
 ('Spain', 'Huelva', 17.09),
 ('Spain', 'Madrid', 11.19),
 ('Spain', 'Marbella', 17.19),
 ('Spain', 'Murcia', 15.0),
 ('Spain', 'Oviedo', 10.85),
 ('Spain', 'Salamanca', 11.63),
 ('Spain', 'Santander', 13.4),
 ('Spain', 'Valencia', 16.02),
 ('Spain', 'Vigo', 12.85),
 ('Spain', 'Zaragoza', 14.17),
 ('Sweden', 'Abisko', 0.2),
 ('Sweden', 'Göteborg', 5.76),
 ('Sweden', 'Kiruna', -2.2),
 ('Sweden', 'Malmö', 7.33),
 ('Sweden', 'Stockholm', 6.26),
 ('Sweden', 'Uppsala', 4.17),
 ('Switzerland', 'Basel', 6.68),
 ('Switzerland', 'Geneva', 8.4),
 ('Switzerland', 'Zurich', 6.68),
 ('Turkey', 'Adana', 18.67),
 ('Turkey', 'Ankara', 9.86),
 ('Turkey', 'Antalya', 11.88),
 ('Turkey', 'Batman', 14.16),
 ('Turkey', 'Bursa', 11.16),
 ('Turkey', 'Denizli', 15.02),
 ('Turkey', 'Edirne', 10.9),
 ('Turkey', 'Erzincan', 8.67),
 ('Turkey', 'Erzurum', 5.17),
 ('Turkey', 'Eskisehir', 11.11),
 ('Turkey', 'Gaziantep', 13.46),
 ('Turkey', 'Istanbul', 13.2),
 ('Turkey', 'Karaman', 10.41),
 ('Turkey', 'Kayseri', 8.89),
 ('Turkey', 'Malatya', 14.13),
 ('Turkey', 'Manisa', 15.1),
 ('Turkey', 'Ordu', 11.92),
 ('Turkey', 'Samsun', 12.05),
 ('Turkey', 'Siirt', 12.48),
 ('Turkey', 'Sivas', 8.05),
 ('Turkey', 'Tarsus', 11.21),
 ('Turkey', 'Tekirdag', 13.02),
 ('Turkey', 'Trabzon', 10.28),
 ('Turkey', 'Zonguldak', 10.64),
 ('Ukraine', 'Bila Tserkva', 6.98),
 ('Ukraine', 'Cherkasy', 7.19),
 ('Ukraine', 'Chernihiv', 5.92),
 ('Ukraine', 'Chernivtsi', 7.06),
 ('Ukraine', 'Horlivka', 7.12),
 ('Ukraine', 'Kherson', 8.64),
 ('Ukraine', 'Kiev', 6.88),
 ('Ukraine', 'Kremenchuk', 7.43),
 ('Ukraine', 'Kryvyy Rih', 8.61),
 ('Ukraine', 'Lvov', 7.04),
 ('Ukraine', 'Makiyivka', 8.7),
 ('Ukraine', 'Rivne', 6.76),
 ('Ukraine', 'Sumy', 6.28),
 ('Ukraine', 'Yevpatoriya', 10.02),
 ('Ukraine', 'Zhytomyr', 6.67),
 ('United Kingdom', 'Aberdeen', 8.1),
 ('United Kingdom', 'Belfast', 8.48),
 ('United Kingdom', 'Birmingham', 8.81),
 ('United Kingdom', 'Blackpool', 9.15),
 ('United Kingdom', 'Bournemouth', 9.97),
 ('United Kingdom', 'Bradford', 8.39),
 ('United Kingdom', 'Cambridge', 9.25),
 ('United Kingdom', 'Dundee', 6.4),
 ('United Kingdom', 'Edinburgh', 7.43),
 ('United Kingdom', 'Exeter', 10.14),
 ('United Kingdom', 'Glasgow', 8.6),
 ('United Kingdom', 'Inverness', 8.0),
 ('United Kingdom', 'Swansea', 9.73)]

*Now focus on Austria and Sweden*

In [188]:
%%sql
select *
from Cities
where country = 'Austria' or country = 'Sweden'
order by country

 * sqlite://
Done.

[('Graz', 'Austria', 47.08, 15.41, 6.91),
 ('Innsbruck', 'Austria', 47.28, 11.41, 4.54),
 ('Linz', 'Austria', 48.32, 14.29, 6.79),
 ('Salzburg', 'Austria', 47.81, 13.04, 4.62),
 ('Vienna', 'Austria', 48.2, 16.37, 7.86),
 ('Abisko', 'Sweden', 63.35, 18.83, 0.2),
 ('Göteborg', 'Sweden', 57.75, 12.0, 5.76),
 ('Kiruna', 'Sweden', 67.85, 20.22, -2.2),
 ('Malmö', 'Sweden', 55.58, 13.03, 7.33),
 ('Stockholm', 'Sweden', 59.35, 18.1, 6.26),
 ('Uppsala', 'Sweden', 59.86, 17.64, 4.17)]

In [189]:
%%sql
select country, city, avg(temperature)
from Cities
where country = 'Austria' or country = 'Sweden'
group by country

 * sqlite://
Done.

[('Austria', 'Graz', 6.144), ('Sweden', 'Abisko', 3.5866666666666673)]

*Modify previous query to min(temperature), max(temperature), then together in both orders*

In [190]:
%%sql
SELECT
    country,
    city,
    MIN(temperature) AS min_temperature,
    MAX(temperature) AS max_temperature,
    'Min: ' || MIN(temperature) || ', Max: ' || MAX(temperature) AS temperature_range
FROM Cities
WHERE country = 'Austria' OR country = 'Sweden'
GROUP BY country, city;

 * sqlite://
Done.

[('Austria', 'Graz', 6.91, 6.91, 'Min: 6.91, Max: 6.91'),
 ('Austria', 'Innsbruck', 4.54, 4.54, 'Min: 4.54, Max: 4.54'),
 ('Austria', 'Linz', 6.79, 6.79, 'Min: 6.79, Max: 6.79'),
 ('Austria', 'Salzburg', 4.62, 4.62, 'Min: 4.62, Max: 4.62'),
 ('Austria', 'Vienna', 7.86, 7.86, 'Min: 7.86, Max: 7.86'),
 ('Sweden', 'Abisko', 0.2, 0.2, 'Min: 0.2, Max: 0.2'),
 ('Sweden', 'Göteborg', 5.76, 5.76, 'Min: 5.76, Max: 5.76'),
 ('Sweden', 'Kiruna', -2.2, -2.2, 'Min: -2.2, Max: -2.2'),
 ('Sweden', 'Malmö', 7.33, 7.33, 'Min: 7.33, Max: 7.33'),
 ('Sweden', 'Stockholm', 6.26, 6.26, 'Min: 6.26, Max: 6.26'),
 ('Sweden', 'Uppsala', 4.17, 4.17, 'Min: 4.17, Max: 4.17')]

### The Limit clause

*Return any three countries with population > 20*

In [191]:
%%sql
select country
from Countries
where population > 20
limit 3

 * sqlite://
Done.

[('France',), ('Germany',), ('Italy',)]

*Find the ten coldest cities*

In [192]:
%%sql
select city, temperature
from Cities
order by temperature
limit 10

 * sqlite://
Done.

[('Kiruna', -2.2),
 ('Abisko', 0.2),
 ('Oulu', 1.45),
 ('Bergen', 1.75),
 ('Oslo', 2.32),
 ('Tampere', 3.59),
 ('Uppsala', 4.17),
 ('Helsinki', 4.19),
 ('Tartu', 4.36),
 ('Bodo', 4.5)]

### <font color = 'green'>**Your Turn**</font>

*Find the five easternmost (greatest longitude) cities in countries with no coastline. Return the city and country names.*

In [193]:
%%sql
SELECT
    Cities.city,
    Countries.country
FROM
    Cities
JOIN
    Countries ON Cities.country = Countries.country
WHERE
    Countries.coastline = 'no'
ORDER BY
    Cities.longitude DESC
LIMIT 5;

 * sqlite://
Done.

[('Orsha', 'Belarus'),
 ('Mazyr', 'Belarus'),
 ('Chisinau', 'Moldova'),
 ('Balti', 'Moldova'),
 ('Minsk', 'Belarus')]

### <font color = 'green'>**Your Turn - Basic SQL on World Cup Data**</font>

In [194]:
# Create database tables from CSV files
with open('Players.csv') as f: Players = pd.read_csv(f, index_col=0)
%sql drop table if exists Players;
%sql --persist Players
with open('Teams.csv') as f: Teams = pd.read_csv(f, index_col=0)
%sql drop table if exists Teams;
%sql --persist Teams

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted teams'

#### Look at sample of Players and Teams tables

In [195]:
%%sql
select * from Players limit 5

 * sqlite://
Done.

[('Abdoun', 'Algeria', 'midfielder', 16, 0, 6, 0, 0),
 ('Belhadj', 'Algeria', 'defender', 270, 1, 146, 8, 0),
 ('Boudebouz', 'Algeria', 'midfielder', 74, 3, 28, 1, 0),
 ('Bougherra', 'Algeria', 'defender', 270, 1, 89, 11, 0),
 ('Chaouchi', 'Algeria', 'goalkeeper', 90, 0, 17, 0, 2)]

In [196]:
%%sql
select * from Teams limit 5

 * sqlite://
Done.

[('Brazil', 1, 5, 3, 1, 1, 9, 4, 7, 2),
 ('Spain', 2, 6, 5, 0, 1, 7, 2, 3, 0),
 ('Portugal', 3, 4, 1, 2, 1, 7, 1, 8, 1),
 ('Netherlands', 4, 6, 6, 0, 0, 12, 5, 15, 0),
 ('Italy', 5, 3, 0, 2, 1, 4, 5, 5, 0)]

*1)  What player on a team with “ia” in the team name played less than 200 minutes and made more than 100 passes? Return the player surname. Note: To check if attribute A contains string S use "A like '%S%'"*

In [197]:
%%sql
SELECT Players.surname
FROM Players
JOIN Teams ON Players.team = Teams.team
WHERE Teams.team LIKE '%ia%'
  AND Players.minutes < 200
  AND Players.passes > 100;

 * sqlite://
Done.

[('Kuzmanovic',)]

*2) Find all players who took more than 20 shots. Return all player information in descending order of shots taken.*

In [198]:
%%sql
SELECT *
FROM Players
WHERE Players.shots > 20
ORDER BY Players.shots DESC;

 * sqlite://
Done.

[('Gyan', 'Ghana', 'forward', 501, 27, 151, 1, 0),
 ('Villa', 'Spain', 'forward', 529, 22, 169, 2, 0),
 ('Messi', 'Argentina', 'forward', 450, 21, 321, 10, 0)]

*3) Find the goalkeepers of teams that played more than four games. List the surname of the goalkeeper, the team, and the number of minutes the goalkeeper played.*

In [199]:
%%sql
SELECT Players.surname, Teams.team, Players.minutes
FROM Players
JOIN Teams ON Players.team = Teams.team
WHERE Teams.games > 4
AND Players.position = 'goalkeeper';

 * sqlite://
Done.

[('Romero', 'Argentina', 450),
 ('Julio Cesar', 'Brazil', 450),
 ('Neuer', 'Germany', 540),
 ('Kingson', 'Ghana', 510),
 ('Stekelenburg', 'Netherlands', 540),
 ('Villar', 'Paraguay', 480),
 ('Casillas', 'Spain', 540),
 ('Muslera', 'Uruguay', 570)]

*4) How many players who play on a team with ranking <10 played more than 350 minutes? Return one number in a column named 'superstar'.*

In [200]:
%%sql
SELECT COUNT(*) AS superstar
FROM Players p
JOIN Teams t ON p.team = t.team  -- Adjust the column name to match
WHERE t.ranking < 10
AND p.minutes > 350;

 * sqlite://
Done.

[(54,)]

*5) What is the average number of passes made by forwards? By midfielders? Write one query that gives both values with the corresponding position.*

In [201]:
%%sql
SELECT p.position, AVG(p.passes) AS average_passes
FROM Players p
WHERE p.position IN ('forward', 'midfielder')
GROUP BY p.position;

 * sqlite://
Done.

[('forward', 50.82517482517483), ('midfielder', 95.2719298245614)]

*6) Which team has the highest ratio of goalsFor to goalsAgainst? Return the team and the ratio.*

In [202]:
%%sql
SELECT t.team,
       (t.goalsFor * 1.0 / t.goalsAgainst) AS goal_ratio
FROM Teams t
WHERE t.goalsAgainst > 0
ORDER BY goal_ratio DESC
LIMIT 1;

 * sqlite://
Done.

[('Portugal', 7.0)]

### <font color = 'green'>**Your Turn Extra - Basic SQL on Titanic Data**</font>

<font color="red">File access required:</font> In Colab these extra problems require first uploading **Titanic.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure this file is in the same workspace as the notebook.

In [203]:
# Create database table from CSV file
with open('Titanic.csv') as f: Titanic = pd.read_csv(f, index_col=0)
%sql drop table if exists Titanic;
%sql --persist Titanic

 * sqlite://
Done.
 * sqlite://

'Persisted titanic'

#### Look at sample of Titanic table

In [204]:
%%sql
select * from Titanic limit 5

 * sqlite://
Done.

[('Abbing', 'Mr. Anthony', 'M', 42.0, 3, 7.55, 'Southampton', 'no'),
 ('Abbott', 'Mrs. Stanton (Rosa Hunt)', 'F', 35.0, 3, 20.25, 'Southampton', 'yes'),
 ('Abbott', 'Mr. Rossmore Edward', 'M', 16.0, 3, 20.25, 'Southampton', 'no'),
 ('Abelson', 'Mr. Samuel', 'M', 30.0, 2, 24.0, 'Cherbourg', 'no'),
 ('Abelson', 'Mrs. Samuel (Hannah Wizosky)', 'F', 28.0, 2, 24.0, 'Cherbourg', 'yes')]

*1) How many passengers sailed for free (i.e, fare is zero)?*

In [205]:
%%sql
SELECT COUNT(*) AS free_passengers
FROM Titanic
WHERE fare = 0;

 * sqlite://
Done.

[(15,)]

*2) How many married women over age 50 embarked in Cherbourg? (Married women’s first names begin with "Mrs."). Note: To check if attribute A begins with string S use "A like 'S%'"*

In [206]:
%%sql
SELECT COUNT(*) AS married_women_over_50
FROM Titanic
WHERE gender = 'F'
  AND first LIKE 'Mrs.%'
  AND age > 50
  AND embarked = 'Cherbourg';

 * sqlite://
Done.

[(4,)]

*3) Write three queries to find: (i) the total number of passengers; (ii) the number of passengers under 18; (iii) the number of passengers 18 or older. Notice that the second and third numbers don't add up to the first.*

In [207]:
%%sql
SELECT COUNT(*) AS total_passengers
FROM Titanic;

 * sqlite://
Done.

[(891,)]

In [208]:
%%sql
SELECT COUNT(*) AS passengers_under_18
FROM Titanic
WHERE age < 18;

 * sqlite://
Done.

[(113,)]

In [209]:
%%sql
SELECT COUNT(*) AS passengers_18_or_older
FROM Titanic
WHERE age >= 18;

 * sqlite://
Done.

[(601,)]

*Missing values in SQL tables are given a special value called 'null', and conditions 'A is null' and 'A is not null' can be use in Where clauses to check whether attribute A has the 'null' value. Write a query to find the number of passengers whose age is missing -- now your passenger numbers should add up. Modify the query to also return the average fare paid by those passengers.*

In [210]:
%%sql
SELECT COUNT(*) AS passengers_with_missing_age, AVG(fare) AS average_fare
FROM Titanic
WHERE age IS NULL;

 * sqlite://
Done.

[(177, 22.159491525423757)]

*4) Find all passengers whose age is not an integer; return last name, first name, and age, from youngest to oldest. Note: Consider using the round() function*

In [211]:
%%sql
SELECT last, first, age
FROM Titanic
WHERE age IS NOT NULL AND age != round(age)
ORDER BY age ASC;

 * sqlite://
Done.

[('Thomas', 'Master Assad Alexander', 0.42),
 ('Hamalainen', 'Master Viljo', 0.67),
 ('Baclini', 'Miss Helene Barbara', 0.75),
 ('Baclini', 'Miss Eugenie', 0.75),
 ('Caldwell', 'Master Alden Gates', 0.83),
 ('Richards', 'Master George Sibley', 0.83),
 ('Allison', 'Master Hudson Trevor', 0.92),
 ('Zabour', 'Miss Hileni', 14.5),
 ('Lovell', ' Mr. John Hall ("Henry")', 20.5),
 ('Hanna', 'Mr. Mansour', 23.5),
 ('Sawyer', 'Mr. Frederick Charles', 24.5),
 ('Novel', 'Mr. Mansouer', 28.5),
 ('Williams', 'Mr. Leslie', 28.5),
 ('Mangan', 'Miss Mary', 30.5),
 ('Tomlin', 'Mr. Ernest Portage', 30.5),
 ('Nasser', 'Mr. Nicholas', 32.5),
 ('Webber', 'Miss Susan', 32.5),
 ('Lemberopolous', 'Mr. Peter L', 34.5),
 ('Navratil', ' Mr. Michel ("Louis M Hoffman")', 36.5),
 ('Farrell', 'Mr. James', 40.5),
 ('van Billiard', 'Mr. Austin Blyler', 40.5),
 ('Partner', 'Mr. Austen', 45.5),
 ('Youseff', 'Mr. Gerious', 45.5),
 ('Meo', 'Mr. Alfonzo', 55.5),
 ('Connors', 'Mr. Patrick', 70.5)]

*5) What is the most common last name among passengers, and how many passengers have that last name?*

In [212]:
%%sql
SELECT last, COUNT(*) AS num_passengers
FROM Titanic
GROUP BY last
ORDER BY num_passengers DESC
LIMIT 1;

 * sqlite://
Done.

[('Andersson', 9)]

*6) What is the average fare paid by passengers in the three classes, and the average age of passengers in the three classes?*

In [213]:
%%sql
SELECT class, AVG(fare) AS avg_fare, AVG(age) AS avg_age
FROM Titanic
GROUP BY class;

 * sqlite://
Done.

[(1, 84.15499999999999, 38.233440860215055),
 (2, 20.66222826086957, 29.87763005780347),
 (3, 13.676863543788176, 25.14061971830986)]

*7) For male survivors, female survivors, male non-survivors, and female non-survivors, how many passengers are in each of those four categories and what is their average fare? Return your results from lowest to highest
average fare.*

In [214]:
%%sql
SELECT
    gender,
    survived,
    COUNT(*) AS passenger_count,
    AVG(fare) AS average_fare
FROM Titanic
GROUP BY gender, survived
ORDER BY average_fare;

 * sqlite://
Done.

[('M', 'no', 468, 21.961923076923),
 ('F', 'no', 81, 23.02555555555556),
 ('M', 'yes', 109, 40.82229357798166),
 ('F', 'yes', 233, 51.93901287553647)]